<ion-view id="m_city" view-title="房屋详情">
    <ion-nav-bar class="bar-balanced">
        <ion-nav-back-button class="m_color"></ion-nav-back-button>
    </ion-nav-bar>
    <ion-side-menus>
        <ion-side-menu side="left" id="find_left">
            <div class="list">

                <a class="item item-avatar" href="javascript:;">
                    <img src="images/photo_03.jpg">
                    <h2>Procrastination</h2>
                    <p>一个美好的选择恐惧症患者.</p>
                </a>
                <a class="item item-icon-left" href="javascript:;">
                    <i class="icon ion-email"></i>
                    我的留言
                </a>

                <a class="item item-icon-left item-icon-right" href="javascript:;">
                    <i class="icon ion-chatbubble-working"></i>
                    未读消息
                    <span class="badge badge-assertive">0</span>
                </a>

                <a class="item item-icon-left" href="javascript:;">
                    <i class="icon ion-mic-a"></i>
                    备忘录
                    <span class="item-note">
                    明天和tony吃饭
                    </span>
                </a>
                <a class="item item-icon-left" href="javascript:;">
                    <i class="icon ion-person-stalker"></i>
                    我的室友
                </a>
            </div>
        </ion-side-menu>
        <ion-side-menu-content >
            <ion-header-bar class="item-input-inset m_bg">
                <button class="button button-icon ion-ios-drag m_color">
                </button>
                <button class="button button-icon ion-ios-chatbubble-outline m_color">
                    <span class="badge badge-assertive">...</span>
                </button>
            </ion-header-bar>
            <ion-content ng-controller="priceCtrl">
                <div class="list card" ng-repeat="p in data">
                    <div class="item item-avatar">
                        <img src="images/photo_03.jpg">
                        <h2>刘女士</h2>
                        <p>2016年12月20日</p>
                    </div>

                    <div class="item item-body" id="pricegreen">
                        <img class="full-image" src="{{p.imgsrc}}">
                        <p class="pricegreen item">地址:{{p.add}}</p>
                        <p class="item">{{p.introduce}}</p>
                        <p class="item">
                            <a href="javascript:;" class="subdued" id="like" ng-click="showAlert()">
                                <i id="pricei" class="icon ion-ios-heart"></i><span>{{like}}</span>收藏</a>
                            <a href="javascript:;" class="subdued" ng-click="dislike=0+1">
                                <i id="pricei2" class="icon ion-sad-outline"></i><span>{{dislike}}</span>不喜欢</a>
                        </p>
                    </div>
                </div>
            </ion-content>
        </ion-side-menu-content>
    </ion-side-menus>
</ion-view>
